
<header class = "partialHeader">
  <nav>
    <a href="/">Slav's Kitchen</a>
      <div style="text-align: right">
          <form class="form-inline" action="/checkout" method="GET">
          <button type="submit"  class="btn-checkout">checkout</button>
          </form>
      </div>
  </nav>
</header>
