<!DOCTYPE html>
<html lang="en">
<header>
        <% include ./partials/_header %>
</header>
  <head>
    <title>Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <container class = "MenuPageContainer">

      <% for (let item of menuItems) { %>
      <div class = "product">
        <div class = "columnWrapper">
        <span class = "itemTitle"><%= item.name %></span>
        </div>
        <div class = "imageWrapper">
        <img class = "productImage" src=<%= item.image_url %> >
        </div>
        <div class = "columnWrapper">
          <span class = "productDescription"><%=item.description %></span>
        </div>
        <div class = "add2cart">
          <span class = "itemCount">0</span>
          <span><%= item.price %></span>
          <div>
            <button class="buttonCount">+</button>
            <button class="buttonCount">-</button>
          </div>
        </div>
      </div>
      <% } %>
    </container>
  </body>
</html>


