.partialHeader {
  background-color:black;
  display: sticky;
  height: 100px;
}

header nav {
  display:flex;
  justify-content: space-between;
  align-items: center;

}


header nav a {
  margin-top:20px;
  color:white;
  width: 400px;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  margin-left: 100px;
}


.btn-checkout {
  font-size: 30px;
  margin-top: 20px;
  height: 50px;
  width: 150px;
  background-color: black;
  color:white;
  border-radius:2px;
  border:none;
  font-family:'Permanent Marker', cursive;
  outline: none;
  margin-right: 250px;
}

.btn-checkout:hover {
  font-size: 35px;
  background-color: black ;
  color: red;
}


