// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}


.MenuPageContainer {
  display:grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: auto;
  grid-column-gap: 80px;
  grid-row-gap: 80px;

  background-image: url("https://images.unsplash.com/photo-1526494351053-7f0eee3c4216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");

}

.product {
  display:flex;
  background-color: whitesmoke;
  max-width: 500px;
  flex-direction:column;
  margin-left: 30px;
  margin-top: 25px;
  border-radius: 5px;
  font-family: 'Permanent Marker', cursive;
  //box-shadow: 0px 0px 20px 10px red;
  border:solid 5px black;
  border-radius: 50px;
  background-image:round;


}

.imageWrapper {
  align-self:center;
  height: 300px;
  width: 300px;

}


.productImage {
  display:flex;
  height:300px;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  object-fit:cover;
  border:groove 1px;
  border-radius: 15px;

}

.columnWrapper {
  align-self:center;
  padding: 20px;
  min-height: 100px;

}

.productDescription {
  min-height: 30px;
  font-size: 20px;
}


.add2cart {
  align-self: center;
  padding-top:10px;
  padding-bottom: 15px;
  padding-left: 4px;
  padding-right: 4px;
  display:flex;
  justify-content: space-between;
  min-width: 400px;
  font-size: 20px;

}

.plus {
  background: #44D362;
  display: inline-block;
  border-radius: 5px;
  outline: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.minus {
  background:#DC453D;
  display: inline-block;
  border-radius: 5px;
  outline: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.plus:hover {
background-color: #77DF79;
border-color: #77DF79;
}

.minus:hover {
background-color:#FF6961;
border-color: #FF6961;
}


































.itemTitle{
  font-size: 30px;
}

