

.ownersContainer {
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.waitTime {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 align-items: center;
 flex-grow: 1.25
}

.itemTable {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-grow: 1.7;
}

.Total {
  display: flex;
  margin-bottom: auto;
}
